<%= form_with(model: document) do |f| %>
  <div class="form-control">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-control">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <%= f.button %>
<% end %>
