<h1>Top Secret Documents</h1>

<% if signed_in? %>
  <% @documents.each do |document| %>
    <h2><%= link_to document.name, document %></h2>
    <h3><%= document.company.name %></h3>
  <% end %>
<% else %>

<% end %>
